input:invalid {
    --tw-ring-color: #FF204E;
}

input:valid {
    --tw-ring-color: #789461;
}

input:focus {
    --tw-ring-color: rgb(79 70 229);
}

.message-block {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}