{% extends "base/base.html" %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/authentication/resetPassword.css' %}">
{% endblock style %}

{% block content %}
<div class="min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="xl:w-1/4 lg:w-1/3 md:w-1/2 sm:w-full m-auto bg-white p-5 pb-10 rounded-lg relative">

        <div class="back hidden lg:block absolute -left-10 bg-black p-3 cursor-pointer">
            <a href="{% url 'login' %}" class="w-full h-full absolute left-0 top-0"></a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
        </div>

        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto"
                src="https://www.freepnglogos.com/uploads/logo-chatgpt-png/black-chatgpt-logo-circle-symbol-black-png-0.png"
                alt="Your Company">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reset Your Password
            </h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" id="login-form" method="POST">
                {% csrf_token %}
                <div class="mt-2 relative">
                    <input id="password" name="new_password1" type="password" placeholder="Password"
                        autocomplete="current-password"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor"
                        class="cursor-pointer eye w-4 h-4 absolute top-1/2 -translate-y-1/2 right-2 ">
                        <path stroke-linecap="round" data-status="eye" stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                </div>
                <span class="message-block text-red-500" id="message_password">
                    <li class="ps-1 text-[0.70rem]"></li>
                </span>
                <div class="mt-2 relative">
                    <input id="password_confirmation" name="new_password2" type="password"
                        placeholder="Confirmation Password" autocomplete="current-password"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor"
                        class="cursor-pointer eye w-4 h-4 absolute top-1/2 -translate-y-1/2 right-2 ">
                        <path stroke-linecap="round" data-status="eye" stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                </div>
                <span class="message-block text-red-500" id="message_password">
                    <li class="ps-1 text-[0.70rem]"></li>
                </span>
                <div>
                    <button type="submit"
                        class="flex w-full justify-center bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">Sign
                        in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(":input").change(() => {
            let password = $("#password").val();
            let confPassword = $("#password_confirmation").val();
            let passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

            handlePasswordValidation(password, confPassword, passwordRegex)
        })

        function handlePasswordValidation(password, password_confirmation, passwordRegex) {
            if (password) {
                if (password.length < 8 || !passwordRegex.test(password)) {
                    showError("#password", "Password must contain a letter, number, symbol, and be at least 8 characters", "#message_password");
                    checkPassword = false;
                } else {
                    hideError("#password", "#message_password");
                    if (password === password_confirmation) {
                        hideError("#password_confirmation", "#message_password_confirmation");
                        checkPassword = true;
                    } else {
                        showError("#password_confirmation", "Passwords do not match", "#message_password_confirmation");
                        checkPassword = false;
                    }
                }
            } else {
                hideError("#password_confirmation", "#message_password_confirmation");
                checkPassword = false;
            }
        }

        function showError(inputSelector, message, messageSelector) {
            $(inputSelector).addClass("focus:ring-red-600 ring-red-600");
            $(messageSelector).css({ "visibility": "visible", "transform": "translateY(0)", "height": "100%" }).removeClass("-translate-y-6").find("li").text(message);
        }

        function hideError(inputSelector, messageSelector) {
            $(inputSelector).removeClass("focus:ring-red-600 ring-red-600");
            $(messageSelector).css({ "visibility": "hidden", "transform": "translateY(-25px)", "height": "0" }).addClass("-translate-y-6").find("li").text("");
        }
    });
</script>

{% endblock content %}